@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap');
html,
body {
	background-color: #ccffcc;
} 
.text {
	color: #ecb3ff;
	text-align: center;
	font-family: 'Martel'; 
}
img: {
  width: 150px;
  height: 150px;
  position: relative;
  top: 50px;
  left: 50px;
}
