@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap');
html,
body {
	background-color: #ccffcc;
} 
.text {
	color: #ecb3ff;
	text-align: center;
	font-family: 'Martel'; 
}
img:https://i.pinimg.com/originals/82/af/01/82af016a4f42cc0b99c8ef3992be80f8.gif {
  width: 150px;
  height: 150px;
  position: relative;
  top: 50px;
  left: 50px;
}
