@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap');
html,
body {
	background-color: #ccffcc;
} 
.text {
	color: #ecb3ff;
	text-align: center;
	font-family: 'Martel'; 
}
img:https://media1.giphy.com/media/10a8AOSeP6Rqfu/giphy.gif {
	
  position: relative;
  top: 20;
  left: 10;
}
